
@font-face {
    font-family: 'Houstiny';
    src: url('../fonts/Houstiny.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RobotoMonoThin';
    src: url('../fonts/RobotoMono-Thin.ttf') format('truetype');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
    /*header 1 */
  .header1 {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../imagenesnovios/main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -5%; /* Mueve la imagen hacia arriba para recortar abajo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Houstiny', sans-serif;
  }
  .contenidoHeader {
    transform: translateY(120px); /* lo baja 50px desde el centro */
  }

    /* Linea separadora */
  .lineaSeparadora {
    display: flex;
    justify-content: center;
    padding: 0px 0;
  }

  /* Informacion del evento */
.informacionEvento {
    margin: 3rem auto;
    max-width: 700px;
    padding: 2rem;
    border-radius: 15px;

    color: #333;
    font-family: 'RobotoMonoThin', monospace;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
  }
  .fechaEvento {
    margin: 3rem auto;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    font-family: 'Houstiny', sans-serif;
  }
  
  /* Program */

.program-shed {
  position: relative;
  margin-top: -300px;
  margin-bottom: -300px;
  height: auto;
  transform: scale(0.35); /* Escala el tamaño al 150% */
  font-family: 'RobotoMonoThin', monospace;
  font-weight: bold;
  
}

.program-title {
  
  margin-top: 10px;
  font-family: "Houstiny";
  font-size: 30px;
  text-align: center;
  color: #090909;
  padding: 10px;
}

.dot {
  margin-top: 130px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.dot2 {
  margin-top: -2px;
}

.line {
  width: 3px;
  height: 1200px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.we-do {
  position: absolute;
  top: 160px;
  margin-left: 232px;

  height: 10px;
  width: 262px;
/*    background-color: #000;*/
border-top: 2px #000 solid;
}

.we-do-0{
  right: 50%;
}
.we-do-1 {
  position: absolute;
  top: 697px;
  right: 50%;

  height: 10px;
  width: 262px;
/*    background-color: #000;*/
border-top: 2px #000 solid;
}

.we-do-2 {
  position: absolute;
  top: 430px;

  margin-left: 50%;

  height: 10px;
  width: 262px;
/*    background-color: #000;*/
border-top: 2px #000 solid;
}

.we-do-3 {
  position: absolute;
  top: 955px;
  margin-left: 50%;

  height: 10px;
  width: 262px;
/*    background-color: #000;*/
border-top: 2px #000 solid;
}

.we-do-4 {
  position: absolute;
  top: 1270px;
  right: 50%;

  height: 10px;
  width: 262px;
/*    background-color: #000;*/
border-top: 2px #000 solid;
}

.we-do-title {
  font-size: 30px;
  margin-top: -84px;
  margin-left: -2px;
  text-align: center;
  text-transform: uppercase;
}

.we-do-title2 {
  margin-top: -62px;
  margin-left: 30px;
  text-align: center;
}

.we-do-title3 {
  margin-top: -84px;
  margin-left: 10px;
  text-align: center;
}

.we-do-sub {
  font-size: 30px;
  margin-top: 60px;
  margin-left: 2px;
  text-align: center;
}

.we-do-sub2 {
  text-align: center;
  margin-top: 9px;
  margin-left: 34px;
}

.we-do-time {
  font-size: 55px;
  margin-top: -136px;
  margin-left: -184px;

}

.we-do-time2 {
  margin-top: -118px;
  margin-left: 278px;
}

.we-do-image {
  width: 100px;
  margin-top: -111px;
  margin-left: 314px;
}

.we-do-image1 {
  top: 7px;
  margin-left: 4px;
  position: absolute;
}

.we-do-image2 {
  /* top: -9px; */
  margin-left: -143px;
  position: absolute;
}

.program-vetka-img {
  width: 273px;
  margin-right: 100px;
  margin-top: -268px;
}
  