
@font-face {
    font-family: 'Houstiny';
    src: url('../fonts/Houstiny.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RobotoMonoThin';
    src: url('../fonts/RobotoMono-Thin.ttf') format('truetype');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
    /*header 1 */
  .header1 {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('../imagenesnovios/main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -5%; /* Mueve la imagen hacia arriba para recortar abajo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Houstiny', sans-serif;
  }
  .contenidoHeader {
    transform: translateY(120px); /* lo baja 50px desde el centro */
  }

    /* Linea separadora */
  .lineaSeparadora {
    display: flex;
    justify-content: center;
    padding: 0px 0;
  }

  /* Informacion del evento */
.informacionEvento {
    margin: 3rem auto;
    max-width: 700px;
    padding: 2rem;
    border-radius: 15px;

    color: #333;
    font-family: 'RobotoMonoThin', monospace;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
  }
  .fechaEvento {
    margin: 3rem auto;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    font-family: 'Houstiny', sans-serif;
  }
  
  